.start{
    background: #f7f7f7;
}

.info, .Photograph{
    width: 50%;
}

#foto{
    width: 88%;
}

.info{
    padding: 10% 0 10% 10%;
}

.info h1, h2, h3{
    margin: 0 0 0.5em 0;
}

.info p{
    margin: 2em 1em 0 0;
}

.info button{
    width: 8rem;
    height: 3rem;
    margin: 4em 0;
    cursor: pointer;
    color: #ffffff;
    border-radius: 0.8em;
    background: #00bf96;
}

.info button:hover{
    background: #12ca8c;
    box-shadow: 1px 11px 20px 1px #12ca8d7c;
    transition: 0.5s ease;
}

.projects{
    background: #171c23;
}